In [4]:
import pandas as pd
import numpy as np

In [11]:
# Add src/ folder to path
import sys
import os

project_root = os.path.abspath("..")  # ".." because you're in notebooks/
if project_root not in sys.path:
    sys.path.insert(0, project_root)

In [12]:
from src import config, data_loader

In [29]:
df_campaigns = pd.read_csv("../data/raw/dim_campaigns.csv")
print(df_campaigns.shape)
df_campaigns.head()

(2, 4)

   campaign_id campaign_name  start_date    end_date
0  CAMP_DIW_01        Diwali  12-11-2023  18-11-2023
1  CAMP_SAN_01     Sankranti  10-01-2024  16-01-2024

In [33]:
df_products = pd.read_csv("../data/raw/dim_products.csv")
print(df_products.shape)
df_products.head(15)

(15, 3)

   product_code                               product_name           category
0           P01                     Atliq_Masoor_Dal (1KG)  Grocery & Staples
1           P02               Atliq_Sonamasuri_Rice (10KG)  Grocery & Staples
2           P03                    Atliq_Suflower_Oil (1L)  Grocery & Staples
3           P04               Atliq_Farm_Chakki_Atta (1KG)  Grocery & Staples
4           P05            Atliq_Scrub_Sponge_For_Dishwash          Home Care
5           P06            Atliq_Fusion_Container_Set_of_3          Home Care
6           P09  Atliq_Body_Milk_Nourishing_Lotion (120ML)      Personal Care
7           P10    Atliq_Cream_Beauty_Bathing_Soap (125GM)      Personal Care
8           P13                Atliq_High_Glo_15W_LED_Bulb    Home Appliances
9           P14             Atliq_waterproof_Immersion_Rod    Home Appliances
10          P11      Atliq_Doodh_Kesar_Body_Lotion (200ML)      Personal Care
11          P12        Atliq_Lime_Cool_Bathing_Bar (125GM)      Personal Care
12          P07                             Atliq_Curtains          Home Care
13          P08                  Atliq_Double_Bedsheet_set          Home Care
14          P15       Atliq_Home_Essential_8_Product_Combo             Combo1

In [32]:
df_stores = pd.read_csv("../data/raw/dim_stores.csv")
print(df_stores.shape)
df_stores.head()

(50, 2)

  store_id           city
0  STTRV-0     Trivandrum
1  STMDU-3        Madurai
2  STHYD-6      Hyderabad
3  STVSK-1  Visakhapatnam
4  STCBE-3     Coimbatore

In [58]:
# Filter cities with more than 5 stores

# Step 1: Create a mask of cities with more than 5 stores
mask = df_stores['city'].value_counts() > 5

# Step 2: Extract the city names where the condition is True
values_to_keep = mask[mask].index

# Step 3: Filter the original DataFrame based on these cities
filtered_df = df_stores[df_stores['city'].isin(values_to_keep)]

# Step 4: Optional — see store counts per city
print(filtered_df['city'].value_counts())

# Step 5: Print number of such cities
num_cities = filtered_df['city'].nunique()
print(f"Number of cities that have more than 5 stores: {num_cities}")

city
Bengaluru    10
Chennai       8
Hyderabad     7
Name: count, dtype: int64
Number of cities that have more than 5 stores: 3

In [34]:
df_events = pd.read_csv("../data/raw/fact_events.csv")
print(df_events.shape)
df_events.head()

(1510, 9)

,event_id,store_id,campaign_id,product_code,base_price(before_promo),quantity_sold(before_promo),promo_type,base_price(after_promo),quantity_sold(after_promo)
0,8481be,STCHE-1,CAMP_DIW_01,P04,290,327.0,25% OFF,217,287
1,20618e,STCHE-3,CAMP_SAN_01,P04,370,379.0,BOGOF,185,1622
2,f30579,STBLR-9,CAMP_DIW_01,P02,860,337.0,33% OFF,576,488
3,4f570c,STBLR-7,CAMP_DIW_01,P05,55,122.0,25% OFF,41,107
4,6d153f,STHYD-5,CAMP_SAN_01,P15,3000,122.0,500 Cashback,2500,272